*.class
*.log
.DS_Store

classes/
classes/*

file-uploads
file-uploads/*

!*log*.log
!3cbc9e4b0932ca6e745b3f344a27ff95.log

# Build directory#
build/
bin/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Gradle
.gradle

# Package Files #
*.war
*.ear

# Eclipse Project Files #
.settings
.cache
.classpath
.project
.metadata/

# IDEA Project Files #
.idea/*
*.iml
*.ipr
*.iws
out/
