<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <import resource="applicationContext-metrics.xml"/>
    <import resource="applicationContext-config.xml"/>

    <bean id="logsParser" class="com.gcplot.log_processor.parser.adapter.GCViewerLogsParser"
          init-method="init" destroy-method="destroy">
        <property name="batchSize" value="${logs.parser.batch.size:512}"/>
        <property name="configurationManager" ref="config"/>
        <property name="eventFactory" ref="eventFactory"/>
    </bean>

</beans>