<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <import resource="applicationContext-config.xml"/>

    <bean id="vertxOpts" class="io.vertx.core.VertxOptions">
        <property name="workerPoolSize" value="${vertx.worker.pool.size:20}"/>
        <property name="internalBlockingPoolSize" value="${vertx.worker.blocking.pool.size:20}"/>
    </bean>

    <bean id="vertx" class="io.vertx.core.Vertx" factory-method="vertx">
        <constructor-arg index="0" ref="vertxOpts"/>
    </bean>

    <bean id="urlBuilder" class="com.gcplot.services.UrlBuilder">
        <property name="config" ref="config"/>
    </bean>

    <bean id="dispatcher" class="com.gcplot.web.vertx.VertxDispatcher"
          init-method="init" destroy-method="close">
        <property name="vertx" ref="vertx"/>
        <property name="accountRepository" ref="accountRepository"/>
        <property name="host" value="${bootstrap.server.host}"/>
        <property name="port" value="${bootstrap.server.port}"/>
        <property name="maxUploadSize" value="${max.upload.file.size:1073741824}"/>
        <property name="bodyHandler">
            <bean class="io.vertx.ext.web.handler.impl.BodyHandlerImpl">
                <constructor-arg index="0" value="${files.upload.dir}"/>
            </bean>
        </property>
    </bean>

    <bean id="s3ResourceManager" class="com.gcplot.parser.S3ResourceManager" init-method="init">
        <property name="accessKey" value="${s3.resource.access.key}"/>
        <property name="secretKey" value="${s3.resource.secret.key}"/>
        <property name="bucket" value="${s3.resource.bucket}"/>
    </bean>

</beans>