<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <bean class="com.gcplot.controllers.DefaultDispatcherHandlers"/>

    <bean id="loginController" class="com.gcplot.controllers.LoginController"/>
    <bean id="analyseController" class="com.gcplot.controllers.gc.AnalyseController"/>
    <bean id="eventsController" class="com.gcplot.controllers.gc.EventsController"/>
    <bean id="rolesController" class="com.gcplot.controllers.RolesController"/>
    <bean id="objectsAgesController" class="com.gcplot.controllers.gc.ObjectsAgesController"/>
    <bean id="adminController" class="com.gcplot.controllers.AdminController">
        <property name="connectorS3Base" value="${s3.connector.path.base:}"/>
        <property name="connectorS3Bucket" value="${s3.connector.bucket:}"/>
        <property name="connectorS3AccessKey" value="${s3.connector.access.key:}"/>
        <property name="connectorS3SecretKey" value="${s3.connector.secret.key:}"/>
    </bean>

</beans>