<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <import resource="applicationContext-config.xml"/>
    <import resource="applicationContext-web.xml"/>

    <bean id="smtpMailProvider" class="com.gcplot.services.mail.providers.SMTPMailProvider">
        <property name="metrics" ref="metrics"/>
        <property name="config" ref="config"/>
    </bean>

    <bean id="sesMailProvider" class="com.gcplot.services.mail.providers.SESMailProvider">
        <property name="metrics" ref="metrics"/>
        <property name="config" ref="config"/>
        <property name="fallbackProvider" ref="smtpMailProvider"/>
    </bean>

    <bean id="mailService" class="com.gcplot.services.mail.MailService">
        <property name="config" ref="config"/>
        <property name="urlBuilder" ref="urlBuilder"/>
        <property name="async" value="${mail.service.async:true}"/>
        <property name="mailProvider" ref="sesMailProvider"/>
    </bean>

</beans>