<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

    <bean id="metrics" class="com.codahale.metrics.MetricRegistry"/>
    <bean id="vertx" class="io.vertx.core.Vertx" factory-method="vertx"/>
    <bean id="orientDbPool" class="com.orientechnologies.orient.core.db.OPartitionedDatabasePoolFactory">
        <constructor-arg value="${orientdb.pool.size:100}"/>
    </bean>

    <bean id="orientDbConfig" class="com.gcplot.model.account.orientdb.OrientDbConfig">
        <constructor-arg value="${orientdb.connection.string}"/>
        <constructor-arg value="${orientdb.user}"/>
        <constructor-arg value="${orientdb.password}"/>
    </bean>

    <bean id="accountRepository" class="com.gcplot.model.account.orientdb.AccountOrientDbRepository" init-method="init"
          destroy-method="destroy">
        <constructor-arg ref="orientDbConfig"/>
        <constructor-arg ref="orientDbPool"/>
        <property name="metrics" ref="metrics"/>
    </bean>

    <bean id="filtersRepository" class="com.gcplot.model.account.orientdb.FiltersOrientDbRepository" init-method="init"
          destroy-method="destroy">
        <constructor-arg ref="orientDbConfig"/>
        <constructor-arg ref="orientDbPool"/>
        <property name="metrics" ref="metrics"/>
    </bean>

    <bean id="config" class="com.gcplot.model.account.orientdb.OrientDbConfigurationManager"
          init-method="init" destroy-method="destroy">
        <constructor-arg ref="orientDbConfig"/>
        <constructor-arg ref="orientDbPool"/>
        <property name="metrics" ref="metrics"/>
        <property name="hostGroup" value="${hosts.group}"/>
    </bean>

    <bean id="mailService" class="com.gcplot.mail.MailService" init-method="init" destroy-method="destroy">
        <property name="config" ref="config"/>
        <property name="urlBuilder" ref="urlBuilder"/>
        <property name="threadPoolSize" value="${mail.thread.pool.size:30}"/>
        <property name="metrics" ref="metrics"/>
    </bean>

    <bean id="urlBuilder" class="com.gcplot.services.UrlBuilder">
        <property name="config" ref="config"/>
    </bean>

    <bean id="dispatcher" class="com.gcplot.web.vertx.VertxDispatcher"
          init-method="init" destroy-method="close">
        <property name="vertx" ref="vertx"/>
        <property name="accountRepository" ref="accountRepository"/>
        <property name="host" value="${bootstrap.server.host}"/>
        <property name="port" value="${bootstrap.server.port}"/>
        <property name="maxUploadSize" value="1073741824"/>
    </bean>

    <bean class="com.gcplot.metrics.GraphiteSender" init-method="init" destroy-method="destroy">
        <property name="host" value="${graphite.host}"/>
        <property name="port" value="${graphite.port}"/>
        <property name="registry" ref="metrics"/>
        <property name="reportEveryMillis" value="${graphite.report.every.ms}"/>
        <property name="enabled" value="${graphite.sink.enabled}"/>
        <property name="retryIntervalMs" value="${graphite.sink.init.retry.ms:10000}"/>
    </bean>

    <!-- CONTROLLERS -->

    <bean id="loginController" class="com.gcplot.controllers.LoginController"/>

</beans>