<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <import resource="applicationContext-controllers.xml"/>
    <import resource="applicationContext-orientdb.xml"/>
    <import resource="applicationContext-metrics.xml"/>
    <import resource="applicationContext-config.xml"/>
    <import resource="applicationContext-mail.xml"/>
    <import resource="applicationContext-web.xml"/>
    <import resource="applicationContext-inmemory.xml"/>
    <import resource="applicationContext-gc.xml"/>
    <import resource="applicationContext-cassandra.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

</beans>