<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <import resource="applicationContext-config.xml"/>
    <import resource="applicationContext-cassandra.xml"/>
    <import resource="applicationContext-gc.xml"/>

    <bean id="vertxOpts" class="io.vertx.core.VertxOptions">
        <property name="workerPoolSize" value="${vertx.worker.pool.size:20}"/>
        <property name="internalBlockingPoolSize" value="${vertx.worker.blocking.pool.size:20}"/>
    </bean>

    <bean id="vertx" class="io.vertx.core.Vertx" factory-method="vertx">
        <constructor-arg index="0" ref="vertxOpts"/>
    </bean>

    <bean id="urlBuilder" class="com.gcplot.services.UrlBuilder">
        <property name="config" ref="config"/>
        <property name="uiProtocol" value="${ui.host.protocol}"/>
        <property name="uiHost" value="${ui.host}"/>
        <property name="uiConfirmPath" value="${ui.host.confirm.path}"/>
        <property name="uiNewPasswordPath" value="${ui.host.new.password.path}"/>
    </bean>

    <bean id="dispatcher" class="com.gcplot.web.vertx.VertxDispatcher"
          init-method="init" destroy-method="close">
        <property name="vertx" ref="vertx"/>
        <property name="accountRepository" ref="accountRepository"/>
        <property name="host" value="${bootstrap.server.host}"/>
        <property name="port" value="${bootstrap.server.port}"/>
        <property name="maxUploadSize" value="${max.upload.file.size:1073741824}"/>
        <property name="config" ref="config"/>
        <property name="bodyHandler">
            <bean class="io.vertx.ext.web.handler.impl.BodyHandlerImpl">
                <constructor-arg index="0" value="${files.upload.dir}"/>
            </bean>
        </property>
    </bean>

    <bean id="eventsAnalyticsProcessor" class="com.gcplot.services.analytics.EventsAnalyticsProcessor"/>

    <bean id="analyticsService" class="com.gcplot.services.analytics.DefaultAnalyticsService">
        <property name="analyseRepository" ref="cassandraGCAnalyseRepository"/>
        <property name="eventFactory" ref="eventFactory"/>
        <property name="eventRepository" ref="cassandraGCEventRepository"/>
        <property name="eventsAnalyticsProcessor" ref="eventsAnalyticsProcessor"/>
    </bean>

    <bean id="logsProcessorService" class="com.gcplot.services.logs.DefaultLogsProcessorService"
          init-method="init" destroy-method="destroy">
        <property name="eventRepository" ref="cassandraGCEventRepository"/>
        <property name="agesStateRepository" ref="cassandraObjectsAgesRepository"/>
        <property name="analyseFactory" ref="analyzeFactory"/>
        <property name="analyseRepository" ref="cassandraGCAnalyseRepository"/>
        <property name="config" ref="config"/>
        <property name="logsParser" ref="logsParser"/>
        <property name="objectsAgesFactory" ref="objectsAgesFactory"/>
        <property name="resourceManager" ref="s3ResourceManager"/>
        <property name="vmPropertiesDetector" ref="vmPropertiesDetector"/>
    </bean>

    <bean id="s3Connector" class="com.gcplot.services.S3Connector" init-method="init">
        <property name="accessKey" value="${s3.resource.access.key:}"/>
        <property name="region" value="${s3.resource.region.id:eu-central-1}"/>
        <property name="secretKey" value="${s3.resource.secret.key:}"/>
        <property name="bucket" value="${s3.resource.bucket:}"/>
    </bean>

    <bean id="s3ResourceManager" class="com.gcplot.services.resources.S3ResourceManager">
        <property name="connector" ref="s3Connector"/>
    </bean>

    <bean id="graphiteMetricsSender" class="com.gcplot.services.network.GraphiteSender"
          init-method="init" destroy-method="destroy">
        <property name="config" ref="config"/>
    </bean>

    <bean id="interceptorsPoller" class="com.gcplot.services.logs.interceptors.InterceptorsPoller"
          init-method="init" destroy-method="shutdown">
        <property name="config" ref="config"/>
        <property name="analyseRepository" ref="cassandraGCAnalyseRepository"/>
        <property name="analyticsService" ref="analyticsService"/>
        <property name="graphiteSender" ref="graphiteMetricsSender"/>
    </bean>

</beans>