<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <bean id="metrics" class="com.codahale.metrics.MetricRegistry"/>

    <bean id="graphiteSender" class="com.gcplot.metrics.GraphiteSender" init-method="init" destroy-method="destroy">
        <property name="host" value="${graphite.host}"/>
        <property name="port" value="${graphite.port}"/>
        <property name="registry" ref="metrics"/>
        <property name="reportEveryMillis" value="${graphite.report.every.ms}"/>
        <property name="enabled" value="${graphite.sink.enabled}"/>
        <property name="retryIntervalMs" value="${graphite.sink.init.retry.ms:10000}"/>
    </bean>

</beans>