<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:annotation-config/>

    <bean id="zkConnector" class="com.gcplot.services.cluster.ZookeeperConnector"
          init-method="init" destroy-method="destroy" lazy-init="true">
        <property name="host" value="${cluster.zk.host:localhost}"/>
        <property name="port" value="${cluster.zk.port:2181}"/>
        <property name="secret" value="${cluster.zk.secret}"/>
        <property name="uid" value="${cluster.zk.uid}"/>
        <property name="sessionTimeout" value="5000"/>
    </bean>

    <bean id="worker" class="com.gcplot.cluster.Worker">
        <constructor-arg name="hostname" value="${app.hostname}"/>
        <constructor-arg name="hostsGroup" value="${hosts.group}"/>
        <constructor-arg name="hostAddress" value="${app.hostaddr}"/>
    </bean>

    <bean id="single-cluster" class="com.gcplot.services.cluster.SingleNodeClusterManager">
        <property name="worker" ref="worker"/>
        <property name="enabled" value="${worker.tasks.enabled}"/>
    </bean>

    <bean id="zookeeper-cluster" class="com.gcplot.services.cluster.ZookeeperClusterManager"
          init-method="init" destroy-method="destroy" lazy-init="true">
        <property name="connector" ref="zkConnector"/>
        <property name="currentWorker" ref="worker"/>
        <property name="syncElection" value="${cluster.election.sync:true}"/>
    </bean>

    <bean id="logsStorageProvider" class="com.gcplot.services.logs.DefaultLogsStorageProvider"
          init-method="init">
        <property name="internalConnector" ref="s3Connector"/>
        <property name="prefix" value="${s3.resource.offline.logs.prefix}"/>
    </bean>

    <bean id="masterTask" class="com.gcplot.processing.WorkerTaskDistributor"
          init-method="init" destroy-method="destroy">
        <property name="analyseRepository" ref="cassandraGCAnalyseRepository"/>
        <property name="clusterManager" ref="${cluster.manager}-cluster"/>
        <property name="intervalMs" value="${worker.task.distributor.interval.ms}"/>
        <property name="logsStorageProvider" ref="logsStorageProvider"/>
    </bean>

    <bean id="workerTask" class="com.gcplot.processing.ProcessingWorker"
          init-method="init" destroy-method="destroy">
        <property name="logsStorageProvider" ref="logsStorageProvider"/>
        <property name="accountRepository" ref="accountRepository"/>
        <property name="analyseRepository" ref="cassandraGCAnalyseRepository"/>
        <property name="clusterManager" ref="${cluster.manager}-cluster"/>
        <property name="intervalMs" value="${worker.processing.interval.ms}"/>
        <property name="logsProcessor" ref="logsProcessorService"/>
    </bean>

</beans>